$bluegray: #357285;
$bluedark:#063C54;
$orange:#EC7C64;
$orangedark:#C64D30;
$textheading: #195C79;
$greenstrange: #47C5C2;
$danger:#C94C30;
$yellowdry: #E6C76A;
$redfine: #D3594C;
$redfinedark: #A5280C;
$grey: #838586;